* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5rem;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: 280px 50px 1fr;
}

.grid-gap-1 {
    row-gap: 0.25rem;
}

.divide-x > :not(:last-child),
.border-r {
    border-right: 1px solid #000;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.p-1 {
    padding: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-10 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.space-x-4 > :not(:last-child) {
    padding-right: 1rem;
}

.space-x-4 > :not(:first-child) {
    padding-left: 1rem;
}

.space-y-2 > :not(:last-child) {
    padding-bottom: 0.5rem;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}

.text-red {
    color: red;
}

code {
    padding: 0.125rem 0.25rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.125rem;
}
